.back{
    /*background: rgb(0,0,0);
    background: -moz-linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);*/
    background-color: black;
    margin: auto;
}

.flv{
    display: flex;
    justify-content: center;
}

.but{
    margin: auto;
    background-color: #000;
    color: #fff;
}

.nav-link i{
    color:blue;
}

.ref{
    padding: 16px;
    margin-bottom: 0%;
    bottom: 0%;
}

.ref a{
    color:blue;
}