<div class="col-md-6 offset-md-3 letter">
    <h4 class="text-center">Edit Skill</h4>
    <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
        <div class="form-group">
            <label for="type">Skill type  :</label>
            <select  name="type" 
            [ngClass]="{'is-invalid':Type?.errors  && Type?.touched,'is-valid': !Type?.errors  && Type?.touched}"
            formControlName="type">
                <option value="hard">Hard</option>
                <option value="soft" >Soft</option>
            </select>
        </div>
        <div *ngIf="Type?.errors  && Type?.touched">    
            <p *ngIf="Type?.hasError('required')" class="error">
                Debe seleccionar una.
            </p>
        </div>
        <br>
        <div class="form-group">
            <label for="name">Skill Name</label>
            <input type="text"
            class="form-control"
            [ngClass]="{'is-invalid':Name?.errors  && Name?.touched,'is-valid': !Name?.errors  && Name?.touched}"
            id="name"
            formControlName="name"
            name="name">
        </div>
        <div *ngIf="Name?.errors  && Name?.touched">    
            <p *ngIf="Name?.hasError('required')" class="error">
                Name es requerido.
            </p>
        </div>
        <div class="form-group">
            <label for="progress">Progress </label>
            <input type="progress"
            class="form-control"
            [ngClass]="{'is-invalid':Progress?.errors  && Progress?.touched,'is-valid': !Progress?.errors  && Progress?.touched}"
            id="progress"
            formControlName="progress"
            name="progress">
        </div>
        <div *ngIf="Progress?.errors  && Progress?.touched">    
            <p *ngIf="Progress?.hasError('required')" class="error">
                Progress requerido.
            </p>
        </div>
        <div *ngIf="Progress?.errors  && Progress?.touched">    
            <p *ngIf="Progress?.hasError('max')" class="error">
                Progress debe ser entre 0 a 100.
            </p>
        </div>
        <br>

        <button class="btn btn-success">Save</button>
    </form>
</div>