<div class="logo">
  <a class="navbar-brand" href="#">
    <img src="../assets/Logo ArgPrograma.png" alt="Argentina Programa" >
  </a>  
</div>
<div class="all">
  <div class="container sub-all">
    <app-index></app-index>
    <div class="user">
      <!-- Button trigger modal -->
      <i class="fa fa-user out" type="button" data-bs-toggle="modal" data-bs-target="#login" *ngIf="!isLogged"></i>
      <i class="fa fa-user in" type="button" (click)="onLogOut()" *ngIf="isLogged"></i>
    </div>
    <app-login></app-login>
    <router-outlet></router-outlet>
    <br>  
  </div>
  <br><br><br>
  <app-red></app-red>
</div>  